@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../font/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto/Roboto-Regular.ttf');
}