.footer {
    width: 100%;

    &__container {
        width: 100%;

        & h2 {
            font-size: 15px;
        }

        & h3 {
            font-size: 12px;
        }

        &__menu {
            margin-right: 0px;
        }
    }
}