.section__5 {
    width: 100%;

    &__cover {
        width: 100%;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-content: center;
    }
}